SANITY_STUDIO_PROJECT_ID=your_sanity_project_id
SANITY_STUDIO_DATASET=production
SANITY_WRITE_TOKEN=your_sanity_write_token

VITE_SANITY_PROJECT_ID=your_sanity_project_id
VITE_SANITY_DATASET=production
